@import url(./button.css);
@import url(./Footer.css);
@import url(./Header.css);
@import url(./Home.css);
@import url(./index.css);
@import url(./input.css);
@import url(./Typo.css);
@import url(./Variables.css);

body {
  margin: 0;
}

.container {
  width: 90%;
}

.centerPosition {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
