@font-face {
    font-family: "Poppins";
    src: url('../font/Poppins-Regular.ttf') format('truetype');
}

.first-cta{
    background-color: var(--main-orange);
    border-radius: 6px;
    border: 1px solid var(--main-orange);
    color: var(--main-white);
    padding: 12px 30px 12px;
    transition: all 0.3s ease-in-out;
}

.first-cta:hover{
    background-color: var(--main-white);
    color: var(--main-orange);
    cursor: pointer;
}

.second-cta{
    background-color: var(--main-blue);
    border-radius: 6px;
    border: 1px solid var(--main-blue);
    color: var(--main-white);
    margin: 5px 0px 5px;
    padding: 0px 15px 0px;
}

.submit-cta-blue{
    background: var(--main-blue);
    transition: all 0.3s ease-in-out;
}

.submit-cta-blue:hover{
    background: var(--main-white);
    border: solid 1px var(--main-blue);
    color: var(--main-blue);
}

