@font-face {
    font-family: "Poppins";
    src: url('../font/Poppins-Regular.ttf') format('truetype');
}

.icon {
    margin-right: 9px;
}

.nav-text:hover{
    color: var(--main-orange);
    cursor: pointer;
    transition-duration: 0.4s;
}


.header {
    display: flex;
}
.header-mobile {
    display: none;
}

@media (max-width: 768px) {
    .header {
        display: none;
    }
    
    .header-mobile {
        display: flex;
    }
}