@font-face {
    font-family: "Poppins";
    src: url('../font/Poppins-Regular.ttf') format('truetype');
}

.icon {
    margin-right: 9px;
}

.nav-text {
    display: flex;
    gap: 40px
}

p:hover {
    color: #FFB684;
    cursor: pointer;
    transition-duration: 0.4s;
}