.input-blue {
  border-bottom: 4px solid var(--main-blue);
}

.input-size {
  width: 725px;
}

.inputPop {
  width: 85% !important;
}

@media (max-width: 1064px) {
  .input-size {
    width: 100%;
  }
}
