:root {
    --title-font: "Poppins", sans-serif;
    --main-font: "Montserrat";
    --brand-font: "Caveat";

    --main-black: #111;
    --main-white: #FEFEFE;
    --main-blue: #3581B8;
    --light-blue: #F4F6FB;
    --main-orange: #FFB684;
    --main-grey: #DEE2D6;
    --faded-grey: rgba(222, 226, 214, 0.10);

    --faded-black: rgba(0, 0, 0, 0.4);
    --cloudy-black:rgba(0, 0, 0, 0.7);

  }


.bg-main-blue{
  background-color: var(--main-blue);
}
.bg-light-blue{
  background-color: var(--light-blue);
}
.bg-main-orange{
  background-color: var(--main-orange);
}
.bg-main-grey{
  background-color: var(--main-grey);
}
.bg-faded-grey{
  background-color: var(--faded-grey);
}
.bg-faded-black{
  background-color: var(--faded-black);
}
.bg-cloudy-black{
  background-color: var(--cloudy-black);
}

.color-main-blue{
  color: var(--main-blue);
}
.color-light-blue{
  color: var(--light-blue);
}
.color-main-orange{
  color: var(--main-orange);
}
.color-main-grey{
  color: var(--main-grey);
}
.drop-shadow-number{
  filter: drop-shadow(3px 9px 18px rgba(0, 0, 0, 0.25));
}

.border-main-blue{
  border-top: 1px solid var(--main-blue);
  border-left: 1px solid var(--main-blue);
  border-right: 1px solid var(--main-blue);
}
.border-main-orange{
  border-top: 1px solid var(--main-orange);
  border-left: 1px solid var(--main-orange);
  border-right: 1px solid var(--main-orange);
}
.border-orange{
  border: 1px solid var(--main-orange);
}

.border-blue{
  border: 1px solid var(--main-blue);
}